
@font-face {
    font-family: 'Bebas_Neue';
    src: url('/src/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format ('ttf'),
    /* Outras propriedades da fonte, como font-weight, font-style, etc. */
  }
  @font-face {
    font-family: 'Bropotic';
    src:url('/src/fonts/bropotic/Bropotic.otf') format ('opentype');

    /* Outras propriedades da fonte, como font-weight, font-style, etc. */
  }
  html {
    scroll-behavior: smooth;
  }
  .Corpo{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.init_description{
    margin: 200px auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:max-content;
    justify-content: center;

}
.text_description{

    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

}
.text_description h2{
    font-family:'Bropotic' ;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.text_description p{
    font-family:'Bropotic' ;
    margin-bottom: 30px;
}
.text_description a{
    font-family:'Bropotic' ;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color:white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 8px 8px;

}
.text_description p{
    text-align: justify;
    font-family: 'Bebas_Neue';
}
.video_description{
    width: 600px;
    text-align:center;
}
.WhatsApp a{

    font-size: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    padding-bottom: 6px;
    border: 2px solid white;
    border-radius: 50%;
}
.WhatsApp{
    position: fixed;
    right: 3%;
    bottom: 5%;
}
.container {
    display:flex;
    z-index: 2;
    justify-content:center;
    transition: 10s ease-in-out;
    transition: transform 0.3s ease-in-out ;
    margin-bottom: 60px;
}
.container.visible {
    opacity: 1;
  }
.container:hover{
    transform: scale(1.05);
    z-index: 1;
    position: relative;

}

.Criando_necessidade h2{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas_Neue';
    margin-bottom: 50px;

}