
@font-face {
    font-family: 'Bebas_Neue';
    src: url('/src/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format ('ttf'),
    /* Outras propriedades da fonte, como font-weight, font-style, etc. */
  }
  @font-face {
    font-family: 'Bropotic';
    src:url('/src/fonts/bropotic/Bropotic.otf') format ('opentype');

    /* Outras propriedades da fonte, como font-weight, font-style, etc. */
  }
  html {
    scroll-behavior: smooth;
  }
  .Corpo{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.init_description{
    margin: 200px auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:max-content;
    justify-content: center;

}
.text_description{

    display: flex;
    flex-direction:column;
    color: white;
    width: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

}
.text_description h2{
    font-family:'Bropotic' ;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.text_description p{
    font-family:'Bropotic' ;
    margin-bottom: 50px;
}

.text_description span{
    box-shadow:  inset 100% 0px -2px 0px 0px  rgba(86, 205, 241, 0.8);
    animation: border-movement 3s linear infinite;
    text-align: left;

}
/*ANIMAÇÃO DOS CARDS DE SERVIÇOS PRESTADOS */
.flip-card{

    display: flex;
    flex-direction:row;
    color:black;
    width: 100%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    background-color: transparent;

}

.flip-card p{
    font-family: 'Bebas_Neue';
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    text-align: justify;
    padding: 0 20px;
}

.flip-card span{
    display: flex;
    font-family: 'Bebas_Neue';
    color: white;
    font-size: 18px;
    box-shadow:  inset 100% 0px -2px 0px 0px  rgba(86, 205, 241, 0.8);
    animation: border-movement 3s linear infinite;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    padding:10px 10px 40px 40px;
    width:100%;
    justify-content: center;
    align-content: center;

   
}
.flip-card a{
    top:240px;
    font-family: 'Bebas_Neue';
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 5px 10px;
}
.Flip-card-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 

   
}
.flip-card-inner{
    margin:20px 40px;
    width: 420px;
    border-radius: 8px;
    background-color: rgba( 0, 0, 0, 0.6);
    height: 300px;
    transform-style: preserve-3d;
    background-image: url(./img/transcription.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;


    
}
.flip-card-inner:nth-child(2){
    background-image: url(./img/iamasculian2.jpeg);
}

.flip-card-inner:nth-child(3){
    background-image: url(./img/image01.jpg);
}
.flip-card-inner:nth-child(4){
    background-image: url(./img/transcription01.jpg);
}
.flip-card{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.flip-card p{
    display:none;

}
.flip-card a{
    display: none;
    position: absolute;
    bottom: 20px;
}
.flip-card-inner p:hover ~ .flip-card-inner span{
    transform: rotateY(180deg);

}

.flip-card-inner:hover{
    transform: rotateY(180deg);
    background-image:none;
    
    .flip-card p , a{
        display: flex;
        flex-direction: column;
        transform: rotateY(180deg);
        transition: ease-in-out 0.6s;
        transform-style: preserve-3d;
    }
}


      .flip-card-inner span:hover{
        transform:rotateY(180deg) !important;
        
    }





@keyframes border-movement{
    0% {box-shadow:inset 0 -2px 0 0  rgba(86, 205, 241, 0.3);}
    100% {box-shadow:inset 100% -2px 0 0 0  rgba(86, 205, 241, 0.6);}
    
}
.text_description a{
    font-family:'Bropotic' ;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color:white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 8px 8px;

}
.text_description p{
    text-align: justify;
    font-family: 'Bebas_Neue';
}
#typed-text {
    overflow: hidden; /* Esconde o texto que ainda não foi digitado */
    white-space: nowrap; /* Impede quebra de linha */
    animation: typing 8s ease-in-out infinite; /* Define a animação de digitação */
    
  }
  
  @keyframes typing {
    from { width: 0; } /* Começa com a largura 0, ou seja, sem texto visível */
    to { width: 100%; } /* Aumenta gradualmente a largura até o texto completo */
  }

.video_description{
    width: 600px;
    text-align:center;
}
.WhatsApp a{

    font-size: 40px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    padding-bottom: 6px;
    border: 2px solid white;
    border-radius: 50%;
}
.WhatsApp{
    position: fixed;
    right: 3%;
    bottom: 5%;
}
.container {
    display:flex;
    z-index: 2;
    justify-content:center;
    transition: 10s ease-in-out;
    transition: transform 0.3s ease-in-out ;
    margin-bottom: 60px;
   
}
.container.visible {
    opacity: 1;
  }
.container:hover{
    transform: scale(1.05);
    z-index: 1;
    position: relative;

}

.Criando_necessidade h2{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas_Neue';
    margin-bottom: 50px;

}
.Criando_necessidade h3{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas_Neue';
    margin-bottom: 5px;

}
.Criando_necessidade{
    padding-top: 135px;
}
.container h3{
    color: white;
    text-transform: uppercase;
}

/*ESTILIZAÇAO DA SESSÃO 02*/
.Diferencias{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:135px ;
}
.Diferencias h1{
    padding-top: 135px;
    color:white;
    text-transform: uppercase;
    font-family: 'Bebas_Neue';
    text-align: center;
    margin-bottom: 40px;


}
.container_border{
    border: 1px solid white;
    transition: top 5s ease-in-out;
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

/*ESTILIZAÇÃO DA SESSÃO 03 */
.precos{
    display: flex;    
    color: white;
    flex-direction:row;

}



.plano{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 5px;
    
}

 .plano h2{
    justify-content: center;
    display: flex;
    height: 80px;
    color:white;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid white;

}
.valor_plano h3{
    text-align: center;
    padding-top: 30px;
}
.diferenciais_plano{
    padding: 20px 30px;
}

.diferenciais_plano p{
    padding-bottom: 10px;
}