
@font-face {
    font-family: 'Bebas_Neue';
    src: url('/src/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format ('ttf'),

    /* Outras propriedades da fonte, como font-weight, font-style, etc. */
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    display: flex;
    width:100%;
    transition: top 5s ease-in-out;
    backdrop-filter: blur(8px);
   
}
.menu_options_desktop img{

    width: 150px;
    height: 150px;
}
.menu_options_desktop ul{
    display:flex;
    align-items: center;
    justify-content:center;
    list-style-type: none;
    text-decoration: none;
    margin-right: 20px;
}
.menu_options_desktop li{
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    margin-right: 20px;
}
.menu_options_desktop a{
    color:white;
    text-transform: uppercase;
    margin-right: 25px;
    font-size:20px;
    text-decoration: none;
    font-family: 'Bebas_Neue';
}
.menu_options_desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: baseline;
    align-content: baseline;
    width: 100%;
    height: 130px;
    align-items:center;
    border-bottom: 1px solid white;

}
.menu_options_desktop img{
    width: 250px;
}













